@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <form id="=website">
        <div id="search">
            <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
            <input type="submit" value="Search">
        </div>
        <div id="filters">
            <h4>Category</h4>
            @foreach (string category in BleakwindBuffet.Data.Menu.CategoryProperty)
            {
                <label>
                    <input type="checkbox" name="Types" value="@category"  />
                    @category
                </label>
            }

            <h4>Calories</h4>
            <div>
               
                <input name="minCal" type="number" min="0" max="900" step="0.1" placeholder="min" />
                to
                <input name="maxCal" type="number" min="0" max="900" step="0.1" placeholder="max" />
            </div>

            <h4>Price</h4>
            <div>
                Between
                <input name="minPrice" type="number" min="0" max="10" step="10" placeholder="min" />
                and
                <input name="maxPrice" type="number" min="0" max="10" step="10" placeholder="max" />
            </div>
        </div>

        <div id="results">
            <h1> Results</h1>

            <ul class="menu-search-list">
                @foreach (BleakwindBuffet.Data.IOrderItem item in @Model.Items)
                {
                    <li>
                        <div class="details">
                            <h3 class="Name">@item.ToStringName</h3>
                            <div class="Cal">@item.Price</div>
                            <div class="Price">@item.Calories</div>
                        </div>

                    </li>
                }
            </ul>
        </div>
        
    </form>
        <div class="text-center">
            <h1 class="display-4">Welcome to Bleakwind Buffet</h1>
            <p>
                We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
                Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger.
                Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!
            </p>
            <h2 class="combo">We offer a combo meal of any Entree,Side, and Drink of your choice with an awsome $1 discount!</h2>
        </div>
        <div class="menu-choice">

            <div class="menu-choices-drinks">
                <h2 class="Drinks">Drinks</h2>
                <ul class="menu-list-drinks">
                    @foreach (BleakwindBuffet.Data.IOrderItem itemDrinks in BleakwindBuffet.Data.Menu.Drinks())
                    {
                        <li display="block">
                            <div class="menu-item">
                                <h3 class="name">@itemDrinks.ToStringName</h3>
                                <p class="price">Price: @itemDrinks.Price</p>
                                <p class="cal">Calories: @itemDrinks.Calories</p>
                                @if (itemDrinks.Name == "Sailor Soda")
                                {

                                    <h4>Other Flavors</h4>
                                    <ol>
                                        <li>@BleakwindBuffet.Data.Enums.SodaFlavor.Blackberry</li>
                                        <li>@BleakwindBuffet.Data.Enums.SodaFlavor.Grapefruit</li>
                                        <li>@BleakwindBuffet.Data.Enums.SodaFlavor.Lemon</li>
                                        <li>@BleakwindBuffet.Data.Enums.SodaFlavor.Peach</li>
                                        <li>@BleakwindBuffet.Data.Enums.SodaFlavor.Watermelon</li>
                                    </ol>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="menu-choices-Entree">
                <h2 class="Entrees">Entrees</h2>
                <ul class="menu-list-entree">
                    @foreach (BleakwindBuffet.Data.IOrderItem itemEntrees in BleakwindBuffet.Data.Menu.Entrees())
                    {
                        <li>
                            <div class="menu-item">
                                <h3 class="name">@itemEntrees.ToStringName</h3>
                                <p class="price">Price: @itemEntrees.Price</p>
                                <p class="cal">Calories: @itemEntrees.Calories</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>

            <div class="menu-choices-Sides">
                <h2 class="Sides">Sides</h2>
                <ul class="menu-list-sides">
                    @foreach (BleakwindBuffet.Data.IOrderItem itemSides in BleakwindBuffet.Data.Menu.Sides())
                    {
                        <li>
                            <div class="menu-item">
                                <h3 class="name">@itemSides.ToStringName</h3>
                                <p class="price">Price: @itemSides.Price</p>
                                <p class="cal">Calories: @itemSides.Calories</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
 
